[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
tox = "*"
tox-pipenv-install = "*"
pytest = "*"
coverage = "*"
python-gettext = "*"
typing = "*"
typing-extensions = "*"

[packages]
boto3 = "*"
python-telegram-bot = "*"
python-dotenv = "*"
requests = "*"
pillow = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
